 {
     "env": {
         "development": {
             "presets": ["@babel/env", "@babel/react"],
             "plugins": [
                 "@babel/plugin-proposal-object-rest-spread",
                 "@babel/plugin-proposal-class-properties"
             ]
         },
         "production": {
             "presets": ["@babel/env", "@babel/react"],
             "plugins": [
                 "@babel/plugin-proposal-object-rest-spread",
                 "@babel/plugin-proposal-class-properties"
             ]
         },
         "test": {
             "presets": [
                 ["@babel/env", {
                     "modules": "commonjs",
                     "targets": {
                         "node": "current"
                     }
                 }],
                 "@babel/react",
                 "jest"
             ],
             "plugins": [
                 "@babel/plugin-proposal-object-rest-spread",
                 "@babel/plugin-proposal-class-properties"
             ]
         }
     }
 }